.colon {
  font-weight: bold;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.countdown {
  margin: 10px 0;
}

.label {
  font-size: 12px;
}

.time {
  background-color: rgba(119, 126, 144, 0.18);
  border-radius: 8px;
  margin: 0 10px;
  padding: 20px 0;
  width: 100px;
}

.value {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  width: 30px;
}

@media screen and (max-width: 640px) {
  .time {
    padding: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .label {
    font-size: 8px;
  }

  .value {
    font-size: 12px;
  }
}
