.wrapper {
  position: relative;
  /*background:#333;*/
  height: 100%;
}

.profileMainLoader {
  left: 50% !important;
  margin-left: -100px;
  position: fixed !important;
  top: 50% !important;
  margin-top: -100px;
  width: 45px;
  z-index: 9000 !important;
}

.profileMainLoader .loader {
  position: relative;
  margin: 50px auto 0 50px;
  width: 100px;
  height: 100px;
}
.profileMainLoader .loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circularLoader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loaderPath {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  stroke-linecap: round;
}

.loaderPath.black {
  -webkit-animation: dash 1.5s ease-in-out infinite,
    blackColor 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, blackColor 6s ease-in-out infinite;
}

.loaderPath.white {
  -webkit-animation: dash 1.5s ease-in-out infinite,
    whiteColor 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, whiteColor 6s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes blackColor {
  0% {
    stroke: #000;
  }
  40% {
    stroke: #000;
  }
  66% {
    stroke: #000;
  }
  80%,
  90% {
    stroke: #000;
  }
}
@keyframes blackColor {
  0% {
    stroke: #000;
  }
  40% {
    stroke: #000;
  }
  66% {
    stroke: #000;
  }
  80%,
  90% {
    stroke: #000;
  }
}

@-webkit-keyframes whiteColor {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%,
  90% {
    stroke: #FFF;
  }
}
@keyframes whiteColor {
  0% {
    stroke: #FFF;
  }
  40% {
    stroke: #FFF;
  }
  66% {
    stroke: #FFF;
  }
  80%,
  90% {
    stroke: #FFF;
  }
}
